body{
    font-family: 'Poppins', sans-serif;
    margin: opx;
}
h1{
    font-size: 30px;
}
.or-color{
    color: rgb(14, 105, 180);
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-with{
    width:50% ;
    padding-left: 5%;
}
.half-with image{
    width: 100%;
}
.link-button{
    text-decoration: none;
  background-image: linear-gradient(rgb(233, 93, 0),tomato);
    padding: 10px 40px;
    border-radius: 20px;
    color: wheat;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png) ;
    background-repeat:no-repeat